<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Buildings</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A simple app for querying buildings">
		<meta name="keywords" content="buildings">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
		<script src="https://kit.fontawesome.com/4e21707827.js" crossorigin="anonymous"></script>

		<style type="text/css">
			#starting {
				max-width: 900px;
				margin: 0 auto;
			}

			h1 {
				text-align: center;
			}

			.searchRow {
				width: auto;
				margin: 15px auto;
			}

			.searchRow .btn-info {
				max-height: 32px;
				padding: 4px 12px;
			}

			@media only screen and (min-width: 500px) {
				.searchBox, .dropdown, .searchBox input {
					min-width: 300px;
				}

				.searchRow .btn-info {
					margin-right: 2em;
				}
			}

			.searchBox {
				position: relative;
				margin: 0 1em;
			}

			@media only screen and (max-width: 499px) {
				.searchBox input {
					max-width: 140px;
				}
			}

			.searchBox input {
				height: 24px;
			}

			.dropdown {
				z-index: 10;
				background-color: #FFF;
				border: solid 1px grey;
				position: absolute;
				top: 24px;
				box-shadow: 1px 1px 6px #888888;
			}

			.name {
				margin-left: 5px;
				font-weight: bold;
			}

			.building_id {
				margin-left: 1.5em;
				color: grey;
				font-style: italic;
			}

			.content:hover {
				background-color: #cddfe9;
				cursor: pointer;
			}

			.results {
				margin: 15px 0;
			}

			#details .modal-dialog {
				max-width: 600px;
			}

			#details .v-select {
				max-width: 300px;
			}

			.table .col {
				margin: 5px 0;
			}

			.date-container {
				margin-bottom: 1em;
			}

			.card-img {
				margin-top: 3vh;
				font-size: 15vh;
				color: #6c757d;
			}

			.card {
				margin: 1em 0;
			}

			@media only screen and (max-width: 499px) {
				.card {
					margin: 1em 2em;
				}
			}

			.card-detail-text {
				color: grey;
				font-style: italic;
			}

			.select-field {
				margin: 0.5em 0;
			}

			.vs__clear {
				visibility: hidden;
			}
		</style>
	</head>

	<body>
		<div id="starting">
			<div class="container">
				<div class="column">
					<h1>List of Buildings</h1>
					<div class="searchRow row align-items-center">
						<div class="searchLabel">Search:</div>
						<div class="searchBox">
							<input type="text" v-model="searchString" v-on:blur="closeDropdown" v-on:keyup="keyCheck">
							<div class="dropdown" v-if="dropdown===true">
								<div class="content" v-on:click="selectBuilding(building.name)" v-for="building in buildings.slice(0, 5)">
									<div class="name">${building.name}</div>
									<div class="building_id">id: ${building.building_id}</div>
								</div>
								<div class="content" v-if="buildings.length===0">
									<div class="building_id">No buildings matching that criteria</div>
								</div>
							</div>
						</div>
						<button class="btn btn-info" v-on:click="search">Search</button>
					</div>

					<div class="results">${result}</div>

 					<div class="row align-items-center justify-content-center">
 						<div v-on:click="seeDetails(building)" class="col-sm-6 col-lg-4" v-for="building in listBuildings">
								<div class="card text-center">
									<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
									<div class="card-header">
										${building.name}
									</div>
									<i class="card-img fas fa-building"></i>
									<div class="card-body">
										<div class="row card-detail-text">
											<p class="col-6">ID: ${building.building_id}</p>
											<p class="col-6">${building.meters.length} Meters</p>
										</div>
										<a href="#" class="btn btn-primary">Click for Details</a>
									</div>
								</div>
						</div>
 					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="detailsModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" v-if="detailBuilding">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Details of the Building - ${detailBuilding.name} - ID: ${detailBuilding.building_id}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="container modal-body">
							<div class="row align-items-center justify-content-center">
								<div class="select-field col-12 col-sm-7">
									<v-select v-model="selectedMeter" :options="detailBuilding.options"></v-select>
								</div>
								<div class="select-field col-12 col-sm-5">
									<v-select v-model="view" :options="viewBy"></v-select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="col">
								<div v-if="dataUnavailable">
									Sorry, we don't have any information for the requested meter
								</div>
								<div v-else class="col">
									<div v-show="daily" class="date-container row align-items-center justify-content-center">
										<div class="col-auto">
											<button v-on:click="dateBack" type="button" class="btn btn-secondary" :disabled="date == startDate">
												<i class="fas fa-arrow-left"></i>
											</button>
										</div>
										<div class="col-auto">${date}</div>
										<div class="col-auto">
											<button v-on:click="dateForward" type="button" class="btn btn-secondary" :disabled="date == lastDate">
												<i class="fas fa-arrow-right"></i>
											</button>
										</div>
									</div>
									<div id="chartContainer"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
		<script src="https://unpkg.com/vue-select@latest"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

		<script>
			Vue.component('v-select', VueSelect.VueSelect);

			new Vue({
				el: '#starting',
				delimiters: ['${','}'],
				data() {
					return {
						buildings: [],
						listBuildings: [],
						detailBuilding: null,
						selectedMeter: null,
						view: 'Daily',
						viewBy: ['Daily', 'Monthly'],
						loading: false,
						searchString: '',
						timeout: null,
						dropdown: false,
						noDataAvailable: false,
						result: '',
						chartSelector: "#chartContainer",
						dataUnavailable: false,
						date: null,
						lastDate: null,
						startDate: null,
						daily: false,
						chartOptions: {
							type: 'line',
							data: {
								datasets: [{
									label: 'Consumption',
									backgroundColor: 'rgba(255, 99, 132, 0.4)',
									borderColor: 'rgba(255, 99, 132, 1)',
									borderWidth: 1
								}]
							},
							options: {
								responsive: true,
								maintainAspectRatio: false,
								scales: {
								            yAxes: [{
								                ticks: {
								                    beginAtZero: true,
								                }
								            }]
								        }
							}
						}
					}
				},
				mounted: function() {
					this.getBuildings();
					this.search();
				},
				methods: {
					getBuildings: function(query=false) {
						this.$http.get('/api/buildings/', {params: {q: query ? query : undefined}})
							.then((response) => {
								this.buildings = response.data;
								if (this.updateList) {
									this.listBuildings = this.buildings;
									this.updateList = false;
									this.dropdown = false;
									this.getResult();
								}
							})
							.catch((err) => {
								this.loading = false;
							})
					},
					keyCheck: function(event) {
						if (event.key == "Enter") this.search();
					},
					search: function() {
						this.listBuildings = this.buildings;
						this.dropdown = false;
						if (this.searchString.length < 1) {
							this.updateList = true;
							this.getBuildings(this.searchString);
						} else this.getResult();
					},
					getResult: function() {
						this.result = this.buildings.length + " buildings founded. Click on a row to see the building details";
					},
					selectBuilding: function(name) {
						this.searchString = name;
						this.updateList = true;
					},
					seeDetails: function(building) {
						this.selectedMeter = null;
						$(this.chartSelector).empty()
						$('#details').modal('toggle');
						this.timeout = setTimeout(() => {
							this.detailBuilding = building;
							this.detailBuilding.options = this.detailBuilding.meters.map(elem => {
								let option = {
									label: elem.fuel + " - ID:" + elem.meter_id,
									code: elem,
								}
								return option
							});
							this.selectedMeter = this.detailBuilding.options[0]
						}, 100);
					},
					closeDropdown: function() {
						this.timeout = setTimeout(() => {
							this.dropdown = false;
						}, 100);
					},
					getReadingsByDate: function() {
						let readingsByDate = this.readingsArray.filter(elem => elem.date == this.date)[0].hours;
						console.log(readingsByDate)
						let chartOptions = Object.assign({}, this.chartOptions);
						chartOptions.data.labels = readingsByDate.map(elem => elem.reading_date_time.substr(11,5));
						chartOptions.data.datasets[0].data = readingsByDate.map(elem => elem.consumption);
						chartOptions.options.scales.yAxes[0].ticks.max = this.maxConsumption;
						chartOptions.options.scales.yAxes[0].ticks.stepSize = this.separator;
						this.daily = true;
						this.renderChart(chartOptions);
					},
					getReadingsByMonth: function() {
						let chartOptions = Object.assign({}, this.chartOptions);
						this.monthlyLabels = this.monthlyLabels || this.readingsArray.map(elem => elem.date);
						this.monthlyData = this.monthlyData || this.readingsArray.map(elem => elem.total);
						chartOptions.data.labels = this.monthlyLabels;
						chartOptions.data.datasets[0].data = this.monthlyData;
						chartOptions.options.scales.yAxes[0].ticks.max = undefined;
						chartOptions.options.scales.yAxes[0].ticks.stepSize = undefined;
						this.daily = false;
						this.renderChart(chartOptions);
					},
					renderChart: function(chartOptions) {
						$(this.chartSelector).empty()
						$(this.chartSelector).append('<canvas id="lineChart" width="400" height="400"></canvas>')
						let ctx = $('#lineChart');
						let myLineChart = new Chart(ctx, chartOptions);
					},
					dateBack: function() {
						this.timeout = setTimeout(() => {
							if (this.startDate != this.date) {
								let date = new Date(this.date);
								date.setDate(date.getDate() - 1);
								this.date = date.toISOString().substr(0,10);
								this.getReadingsByDate();
							}
						}, 100);
					},
					dateForward: function() {
						this.timeout = setTimeout(() => {
							if (this.lastDate != this.date) {
								let date = new Date(this.date);
								date.setDate(date.getDate() + 1);
								this.date = date.toISOString().substr(0,10);
								this.getReadingsByDate();
							}
						}, 100);
					},
				},
				watch: {
					searchString: function(newValue, oldValue) {
						clearTimeout(this.timeout);
						if (newValue.length >= 1) this.timeout = setTimeout(() => {
							this.dropdown = true;
							this.getBuildings(newValue);
						}, 300);
						else this.dropdown = false;
					},
					view: function(newValue, oldValue) {
						if (newValue == "Daily") this.getReadingsByDate();
						else this.getReadingsByMonth();
					},
					selectedMeter: function(newValue, oldValue) {
						if (newValue) 
							this.monthlyLabels = null;
							this.monthlyData = null;
							this.$http.get('/api/meters/', {params: {meter_id: newValue.code.meter_id}})
							.then((response) => {
								let readings = response.data[0].readings
								this.dataUnavailable = readings.length == 0;

								if (this.dataUnavailable) $(this.chartSelector).empty();
								else {
									this.startDate = readings.slice(0, 1)[0].reading_date_time.substr(0,10);
									this.lastDate = readings.slice(-2, -1)[0].reading_date_time.substr(0,10);
									this.date = this.startDate;

									let start = new Date(this.date);
									let end = new Date(this.lastDate);
									let days = end.getDate() - start.getDate() + 1;
									let tmpDate, tmpArray;
									this.readingsArray = [];
									for (var i = 0; i < days; i++) {;
										tmpDate = start.toISOString().substr(0,10);
										tmpArray = readings.filter(elem => elem.reading_date_time.includes(tmpDate))
										this.readingsArray.push({
											hours: tmpArray,
											total: parseFloat(tmpArray.reduce((total, elem) => total + elem.consumption, 0).toFixed(2)),
											date: tmpDate
										})
										start.setDate(start.getDate() + 1);
									}

									this.maxConsumption = readings.reduce((maxValue, elem) => Math.max(maxValue, elem.consumption), 0);
									if (this.maxConsumption <= 200) this.separator = 20;
									else if (this.maxConsumption <= 500) this.separator = 50;
									else if (this.maxConsumption <= 1000) this.separator = 100;
									else this.separator = 200;
									this.maxConsumption = Math.ceil(this.maxConsumption / this.separator) * this.separator;

									setTimeout(() => {
										if (this.view == "Daily") this.getReadingsByDate();
										else this.getReadingsByMonth();
									}, 100);
								}

							})
							.catch((err) => {
								this.loading = false;
							})
					},
				}
			});
		</script>
	</body>
</html>